<% provide(:title, 'Parties') %>
<h1>Parties</h1>

<div class="columns">
  <div class="column is-narrow">
    <%= render 'admin/admin_menu' %>
  </div>
  <div class="column">
    <%= render 'admin/admin_list', new_object_text: "+ New Party", new_object_path: new_party_path, use_turbolinks: "true",
      objects_path: parties_path, placeholder_text: "Search by name or alternate name...", objects_list: @parties %>
  </div>
</div>

