<% provide(:title, 'Edit Log Type') %>
<h1>Edit Log Type</h1>

<div class="columns">
  <div class="column is-narrow">
    <%= render 'shared/admin_menu' %>
  </div>
  <div class="column">
    <%= render 'form', log_type: @log_type, cancel_path: @log_type %>
  </div>
</div>