<% provide(:title, 'Log Types') %>
<h1>Log Types</h1>

<div class="columns">
  <div class="column is-narrow">
    <%= render 'admin/admin_menu' %>
  </div>
  <div class="column">
    <%= render 'admin/admin_list', new_object_text: "+ New Log Type", new_object_path: new_log_type_path, 
      objects_path: log_types_path, placeholder_text: "Search by name...", objects_list: @log_types %>
  </div>
</div>