<% provide(:title, 'New Log Type') %>
<h1>New Log Type</h1>

<div class="columns">
  <div class="column is-narrow">
    <%= render 'shared/admin_menu' %>
  </div>
  <div class="column">
    <%= render 'form', cancel_path: log_types_path %>
  </div>
</div>