<% provide(:title, 'Public Profiles') %>
<h1>Public Profiles</h1>

<ul>
  <% @profiles.each do |p| %>
    <li>
      <figure class="image is-avatar">
        <%= image_tag(get_participant_picture_url(p.id), alt: p.name) %>
      </figure>
      <%= link_to display_participant(p.id), profile_path(p.id) %>
    </li>
  <% end %>
</ul>