<% provide(:title, 'Public Profiles') %>
<h1>Public Profiles</h1>

<ul>
  <% @profiles.each do |p| %>
    <li>
      <%= image_tag(get_participant_picture_url(p.id), class: "image is-128x128", alt: p.name) %>
      <%= link_to display_participant(p.id), profile_path(p.id) %>
    </li>
  <% end %>
</ul>