<% provide(:title, 'Public Profiles You Manage') %>
<h1>Public Profiles You Manage</h1>

<div class="profiles-list">
  <ul>
    <% @profiles.each do |p| %>
      <li>
        <%= link_to profile_path(p.id) do %>
          <%= render 'comparison_pages/comparison_participant_header', participant_id: p.id, party_id: p.party_id, avatar_image_class: 'is-avatar' %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>