<% provide(:title, 'Contents') %>
<h1>Contents</h1>

<%= link_to '+ New Content', new_content_path, class: "btn btn-primary" %>
<%= link_to 'Back', admin_resources_path, class: "btn btn-default" %>

<ul class="resources-list">
  <%= render @contents %>
</ul>

<%= will_paginate %>