<% provide(:title, 'Contents') %>
<h1>Contents</h1>

<div class="buttons">
  <%= link_to '+ New Content', new_content_path, class: "button is-link" %>
  <%= link_to 'Back', admin_resources_path, class: "button" %>
</div>

<ul class="resources-list">
  <%= render @contents %>
</ul>

<%= will_paginate renderer: BulmaPagination::Rails, :class => 'is-centered' %>