<% provide(:title, "Account Recovery") %>
<h1>Account Recovery</h1>

<%= form_for(:password_reset, url: password_resets_path) do |f| %>

  <div class="field">
    <%= f.label :email, "Email", class: 'label' %>
    <div class="control">
      <%= f.email_field :email, class: 'input' %>
    </div>
  </div>

  <div class="buttons">
    <%= f.submit "Submit", class: "button-with-extra-space is-primary" %>
  </div>
<% end %>