<% provide(:title, 'Edit Survey Type') %>
<h1>Edit Survey Type</h1>

<div class="columns">
  <div class="column is-narrow">
    <%= render 'shared/admin_menu' %>
  </div>
  <div class="column">
    <%= render 'form', survey_type: @survey_type, cancel_path: @survey_type %>
  </div>
</div>