<% provide(:title, 'Edit Survey Type') %>
<h1>Edit Survey Type</h1>

<div class="columns">
  <div class="column is-narrow">
    <%= render 'admin/admin_menu' %>
  </div>
  <div class="column">
    <%= render 'form', cancel_path: @survey_type %>
  </div>
</div>