<% provide(:title, 'Survey Types') %>
<h1>Survey Types</h1>

<div class="buttons">
  <%= link_to '+ New Survey Type', new_survey_type_path, class: "button is-link" %>
  <%= link_to 'Back', admin_resources_path, class: "button" %>
</div>

<ul class="resources-list">
  <%= render @survey_types %>
</ul>

<%= will_paginate renderer: BulmaPagination::Rails, :class => 'is-centered' %>