.avatar, .avatar-small {
  height: 128px;
  width: 128px;
}

.election-picture {
  max-width: 256px;
}

.election-picture-small {
  max-width: 128px;
}

.feature-image {
  max-width: 500px;
}


/* --- BREAKPOINTS --- */

/* --- Extra small devices (phones, 600px and down) --- */
@media only screen and (max-width: 600px) {
  .avatar-small {
    height: 96px;
    width: 96px;
  }
  
  .election-picture {
    max-width: 128px;
  }
}