.about-picture, .contact-picture {
  max-width: 600px;
  float: right;
  margin-left: 1.5em;
}

.avatar, .avatar-small {
  height: 128px;
  width: 128px;
}

.election-picture {
  max-width: 256px;
}

.election-picture-small {
  max-width: 128px;
}

.feature-image {
  max-width: 500px;
}

.michael-picture {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  float: left;
  margin: 0 1.5em 0.5em 0;
}


/* --- BREAKPOINTS --- */

/* --- Medium devices (laptops, tablets, 1023px and down) --- */
@media only screen and (max-width: 1023px) {
  .about-picture, .contact-picture {
    max-width: 500px;
  }
}

/* --- Small devices (tablets, phones, 768px and down) --- */
@media only screen and (max-width: 768px) {
  .about-picture, .contact-picture {
    max-width: 400px;
  }
}

/* --- Extra small devices (phones, 600px and down) --- */
@media only screen and (max-width: 600px) {
  .about-picture, .contact-picture {
    max-width: 300px;
    float: none;
    display:block;
    margin-left: auto;
    margin-right: auto;
  }

  .avatar-small {
    height: 96px;
    width: 96px;
  }
  
  .election-picture {
    max-width: 128px;
  }
}