h1 {
  @extend .title;
  @extend .is-3;
  @extend .is-spaced;
  text-align: center;
  color: $first-color;
}

h2 {
  @extend .subtitle;
  @extend .is-4;
  margin-top: 1.5rem;
  color: $first-color;
}

h3 {
  @extend .subtitle;
  @extend .is-5;
  text-align: center;
}

p {
  line-height: 1.7em;
}

hr {
  background-color: $first-color;
}

.help-text {
  font-size: 0.9em;
  font-style: italic;
  margin-top: -0.5em;
  margin-bottom: 1.0em;
}

.wysiwyg {
  p {
    margin-bottom: 1em;
  }

  ul {
    list-style: disc;
    margin-bottom: 1em;
    margin-left: 2em;
  }
}