<% provide(:title, 'Edit System Setting') %>
<h1>Edit System Setting</h1>

<div class="columns">
  <div class="column is-narrow">
    <%= render 'shared/admin_menu' %>
  </div>
  <div class="column">
    <%= render 'form', system_setting: @system_setting, cancel_path: @system_setting %>
  </div>
</div>