<% provide(:title, 'System Settings') %>
<h1>System Settings</h1>

<div class="columns">
  <div class="column is-narrow">
    <%= render 'admin/admin_menu' %>
  </div>
  <div class="column">
    <%= render 'admin/admin_list', new_object_text: "+ New System Setting", new_object_path: new_system_setting_path, 
      objects_path: system_settings_path, placeholder_text: "Search by name or setting...", objects_list: @system_settings %>
  </div>
</div>