<% provide(:title, 'System Settings') %>
<h1>System Settings</h1>

<div class="buttons">
  <%= link_to '+ New System Setting', new_system_setting_path, class: "button is-link" %>
  <%= link_to 'Back', admin_resources_path, class: "button" %>
</div>

<ul class="resources-list">
  <%= render @system_settings %>
</ul>

<%= will_paginate renderer: BulmaPagination::Rails, :class => 'is-centered' %>