<% provide(:title, 'New System Setting') %>
<h1>New System Setting</h1>

<div class="columns">
  <div class="column is-narrow">
    <%= render 'shared/admin_menu' %>
  </div>
  <div class="column">
    <%= render 'form', system_setting: @system_setting, cancel_path: system_settings_path %>
  </div>
</div>