<% provide(:title, "Find My Election") %>

<h1>Upcoming Elections</h1>
<ul>
  <% @elections_future.each do |election| %>
    <li>
      <%= link_to election_summary_path(election) do %>
        <%= render 'comparison_pages/find_my_election_box', election: election %>
      <% end %>
    </li>
  <% end %>
</ul>

<% unless @elections_past.empty? %>
  <hr>
  <h1>Past Elections</h1>
  <ul>
    <% @elections_past.each do |election| %>
      <li>
        <%= link_to election_summary_path(election) do %>
          <%= render 'comparison_pages/find_my_election_box', election: election %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>