<% provide(:title, 'Edit Survey Answer') %>
<h1>Edit Survey Answer</h1>

<div class="columns">
  <div class="column is-narrow">
    <%= render 'shared/admin_menu' %>
  </div>
  <div class="column">
    <%= render 'form', cancel_path: @survey_answer %>
  </div>
</div>