<% provide(:title, 'Edit Content Location') %>
<h1>Edit Content Location</h1>

<div class="columns">
  <div class="column is-narrow">
    <%= render 'layouts/admin_menu' %>
  </div>
  <div class="column">
    <%= render 'form', content_location: @content_location, cancel_path: @content_location %>
  </div>
</div>