<% provide(:title, 'Content Locations') %>
<h1>Content Locations</h1>

<div class="columns">
  <div class="column is-narrow">
    <%= render 'admin/admin_menu' %>
  </div>
  <div class="column">
    <%= render 'admin/admin_list', new_object_text: "+ New Content Location", new_object_path: new_content_location_path, 
      objects_path: content_locations_path, placeholder_text: "Search by name...", objects_list: @content_locations %>
  </div>
</div>