<% provide(:title, 'Participants') %>
<h1>Participants</h1>

<%= link_to '+ New Participant', new_participant_path, class: "btn btn-primary" %>
<%= link_to 'Back', admin_resources_path, class: "btn btn-default" %>

<ul class="resources-list">
  <%= render @participants %>
</ul>

<%= will_paginate renderer: BulmaPagination::Rails, :class => 'is-centered' %>