<% provide(:title, 'New Participant') %>
<h1>New Participant</h1>

<div class="columns">
  <div class="column is-narrow">
    <%= render 'shared/admin_menu' %>
  </div>
  <div class="column">
    <%= render 'form', participant: @participant, cancel_path: participants_path %>
  </div>
</div>