<% provide(:title, 'Edit User') %>
<h1>Edit User</h1>

<div class="columns">
  <div class="column is-narrow">
    <%= render 'admin/admin_menu' %>
  </div>
  <div class="column">
    <%= render 'form', cancel_path: @user %>
  </div>
</div>