<a id="biographies"><h3>Biographies</h3></a>
<div class="columns is-multiline">
  <% participants.each do |p| %>
    <div class="column is-one-third">
      <!-- Header -->
      <%= render 'shared/comparison_participant_header', participant_id: p.id, party_id: p.party_id %>

      <!-- Biography -->
      <p><%= p.biography %></p>
    </div>
  <% end %>
</div>