<% provide(:title, 'Social Media Profiles') %>
<h1>Social Media Profiles</h1>

<div class="buttons">
  <%= link_to '+ New Social Media Profile', new_social_media_profile_path, class: "button is-link" %>
  <%= link_to 'Back', admin_resources_path, class: "button" %>
</div>

<ul class="resources-list">
  <%= render @social_media_profiles %>
</ul>

<%= will_paginate renderer: BulmaPagination::Rails, :class => 'is-centered' %>