<% provide(:title, 'New Election') %>
<h1>New Election</h1>

<div class="columns">
  <div class="column is-narrow">
    <%= render 'shared/admin_menu' %>
  </div>
  <div class="column">
    <%= render 'form', election: @election, cancel_path: elections_path %>
  </div>
</div>