<% provide(:title, 'New Survey Question') %>
<h1>New Survey Question</h1>

<div class="columns">
  <div class="column is-narrow">
    <%= render 'shared/admin_menu' %>
  </div>
  <div class="column">
    <%= render 'form', survey_question: @survey_question, cancel_path: survey_questions_path %>
  </div>
</div>