<% provide(:title, 'Edit District') %>
<h1>Edit District</h1>

<div class="columns">
  <div class="column is-narrow">
    <%= render 'shared/admin_menu' %>
  </div>
  <div class="column">
    <%= render 'form', district: @district, cancel_path: @district %>
  </div>
</div>