<% provide(:title, 'Districts') %>
<h1>Districts</h1>

<div class="buttons">
  <%= link_to '+ New District', new_district_path, class: "button is-link" %>
  <%= link_to 'Back', admin_resources_path, class: "button" %>
</div>

<ul class="resources-list">
  <%= render @districts %>
</ul>

<%= will_paginate renderer: BulmaPagination::Rails, :class => 'is-centered' %>