<% provide(:title, 'Districts') %>
<h1>Districts</h1>

<div class="columns">
  <div class="column is-narrow">
    <%= render 'admin/admin_menu' %>
  </div>
  <div class="column">
    <%= render 'admin/admin_list', new_object_text: "+ New District", new_object_path: new_district_path, 
      objects_path: districts_path, placeholder_text: "Search by name...", objects_list: @districts %>
  </div>
</div>

