<% provide(:title, 'Districts') %>
<h1>Districts</h1>

<div class="columns">
  <div class="column is-narrow">
    <%= render 'layouts/admin_menu' %>
  </div>
  <div class="column">
    <div class="buttons">
      <%= link_to '+ New District', new_district_path, class: "button is-link" %>
    </div>

    <ul class="resources-list">
      <%= render @districts %>
    </ul>

    <%= will_paginate renderer: BulmaPagination::Rails, :class => 'is-centered' %>
  </div>
</div>

