<% provide(:title, 'New District') %>
<h1>New District</h1>

<div class="columns">
  <div class="column is-narrow">
    <%= render 'shared/admin_menu' %>
  </div>
  <div class="column">
    <%= render 'form', district: @district, cancel_path: districts_path %>
  </div>
</div>