<% provide(:title, 'New User Type') %>
<h1>New User Type</h1>

<div class="columns">
  <div class="column is-narrow">
    <%= render 'shared/admin_menu' %>
  </div>
  <div class="column">
    <%= render 'form', user_type: @user_type, cancel_path: user_types_path %>
  </div>
</div>