<% provide(:title, 'Jurisdictions') %>
<h1>Jurisdictions</h1>

<div class="columns">
  <div class="column is-narrow">
    <%= render 'admin/admin_menu' %>
  </div>
  <div class="column">
    <%= render 'admin/admin_list', new_object_text: "+ New Jurisdiction", new_object_path: new_jurisdiction_path, use_turbolinks: "true",
      objects_path: jurisdictions_path, placeholder_text: "Search by name...", objects_list: @jurisdictions %>
  </div>
</div>