<% provide(:title, 'New Jurisdiction') %>
<h1>New Jurisdiction</h1>

<div class="columns">
  <div class="column is-narrow">
    <%= render 'layouts/admin_menu' %>
  </div>
  <div class="column">
    <%= render 'form', jurisdiction: @jurisdiction, cancel_path: jurisdictions_path %>
  </div>
</div>