<% provide(:title, 'New Survey') %>
<h1>New Survey</h1>

<div class="columns">
  <div class="column is-narrow">
    <%= render 'shared/admin_menu' %>
  </div>
  <div class="column">
    <%= render 'form', survey: @survey, cancel_path: surveys_path %>
  </div>
</div>