<% provide(:title, 'Addresses') %>
<h1>Addresses</h1>

<div class="buttons">
  <%= link_to '+ New Address', new_address_path, class: "button is-link" %>
  <%= link_to 'Back', admin_resources_path, class: "button" %>
</div>

<ul class="resources-list">
  <%= render @addresses %>
</ul>

<%= will_paginate renderer: BulmaPagination::Rails, :class => 'is-centered' %>