<% provide(:title, 'Election Types') %>
<h1>Election Types</h1>

<div class="columns">
  <div class="column is-narrow">
    <%= render 'admin/admin_menu' %>
  </div>
  <div class="column">
    <%= render 'admin/admin_list', new_object_text: "+ New Election Type", new_object_path: new_election_type_path, 
      objects_path: election_types_path, placeholder_text: "Search by name...", objects_list: @election_types %>
  </div>
</div>

