<% provide(:title, 'New Election Type') %>
<h1>New Election Type</h1>

<div class="columns">
  <div class="column is-narrow">
    <%= render 'layouts/admin_menu' %>
  </div>
  <div class="column">
    <%= render 'form', election_type: @election_type, cancel_path: election_types_path %>
  </div>
</div>