<% provide(:title, 'Edit Social Media Type') %>
<h1>Edit Social Media Type</h1>

<div class="columns">
  <div class="column is-narrow">
    <%= render 'shared/admin_menu' %>
  </div>
  <div class="column">
    <%= render 'form', social_media_type: @social_media_type, cancel_path: @social_media_type %>
  </div>
</div>