<% provide(:title, 'Social Media Types') %>
<h1>Social Media Types</h1>

<div class="columns">
  <div class="column is-narrow">
    <%= render 'admin/admin_menu' %>
  </div>
  <div class="column">
    <%= render 'admin/admin_list', new_object_text: "+ New Social Media Type", new_object_path: new_social_media_type_path, 
      objects_path: social_media_types_path, placeholder_text: "Search by name...", objects_list: @social_media_types %>
  </div>
</div>