.comparison-box-container {
  border: 1px solid $first-color;
  border-radius: 6px;
  margin-bottom: 3em;
  padding: 1.25em;
}

.comparison-candidates-grid {
  margin-top: 1.5em;
}

.comparison-intro {
  margin-top: -1em;
  margin-bottom: 1.5em;

  p {
    text-align: center;
    font-style: italic;
  }
}

.comparison-menu {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1;
  background-color: $wallpaper-color;
  border: 4px solid $first-color;
  border-radius: 5px;

  .button {   
    margin: 0.1em 0;
    color: $text;
    border-style: none;    
  }

  .dropdown-item {
    font-size: 1em;
  }

  span {
    font-size: 1.2em;
  }
}

.comparison-section-heading {
  @extend .title;
  @extend .is-4;
  margin-top: 3rem;
  color: $first-color;
}

.contact-details {
  span {
    margin: 0.2em 0;
  }
}

.election-details-and-picture-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.election-name {
  font-size: 1.2em;
}

.election-section-heading {
  @extend .title;
  @extend .is-4;
  text-align: center;
  color: $first-color;
}

.election-summary-header {
  margin-bottom: 2em;
}

.participant-name {
  font-weight: bold;
}

.survey-question-text {
  font-size: 1.1em;
  font-style: italic;
  margin-top: -1.0em;
}