footer {
  border-top: 5px solid $first-color;

  .footer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .footer-fine-print {
    text-align: center;
    font-style: italic;
    font-size: 0.8em;
    margin-top: 1em;
  }

  .footer-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
    padding: 0 1em 0 1em;
  }

  .footer-logo {
    max-height: 1.75rem;
  }

  .footer-spacer {
    margin-right: 0.75em;
  }
}