select[multiple] {
  height: 200px;
}

textarea {
  resize: vertical;
}

.button {
  min-width: 10%;
}

.button-with-extra-space {
  @extend .button;
  margin-top: 0.5em;
}

.error-explanation {
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}