.navbar {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border-bottom: 2px solid $first-color;
}

.navbar-item {
  font-size: 1.2em;
  padding: 0 1.75rem;

  img {
    max-height: 2.5rem;
  }
}


/* --- BREAKPOINTS --- */

/* --- Extra small devices (phones, 600px and down) --- */
@media only screen and (max-width: 600px) {
  .navbar-item {
    img {
      max-height: 1.75rem;
    }
  }
} 