.character-counter-good {
  color: $second-color;
}

.character-counter-bad {
  color: red;
}

.public-profile-container {
  border: 1px solid $first-color;
  border-radius: 6px;
  margin: 1.5em 0;
  padding: 1.25em;
}

.survey-answer-display {
  margin-bottom: 1em;
}

.survey-question-display {
  font-style: italic;
}