.character-counter-good {
  color: $second-color;
}

.character-counter-bad {
  color: red;
}

.profiles-list {
  li {
    margin: 1em 0;
  }
}

.survey-answer-display {
  margin-bottom: 1em;
}

.survey-question-display {
  font-style: italic;
}