.election-details-box-container {
  background-color: $wallpaper-color;
  color: $text;
  padding: 1em;

  .election-title {
    font-weight: bold;
    font-size: 1.3em;
  }
}

.election-details-box-information {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.election-details-box-feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.elections-list {
  margin: 2em 0;
}

/* --- BREAKPOINTS --- */

/* --- Small devices (tablets, phones, 768px and down) --- */
@media only screen and (max-width: 768px) {
  .election-details-box-information {
    text-align: center;
  }

  .election-details-box-feature {
    align-items: center;
  }
}