.election-details-box-container {
  border: 1px solid $first-color;
  margin-bottom: 3em;
  padding: 1em;
}

.election-details-box-information {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.election-details-box-feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.home-page-section {
  margin: 3rem 0;
}


/* --- BREAKPOINTS --- */

/* --- Small devices (tablets, phones, 768px and down) --- */
@media only screen and (max-width: 768px) {
  .election-details-box-information {
    text-align: center;
  }

  .election-details-box-feature {
    align-items: center;
  }
}