// Place all the styles related to the ComparisonPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.box:hover {
  border: 1px solid black;
}

.comparison_nav_menu {
  border: 1px solid black;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1;
  background-color: lightgrey;
}

.election-banner {
  text-align: center;
}

.find-my-election-list {
  li {
    margin-bottom: 30px;
  }
}

.participant-name {
  font-weight: bold;
}