// Place all the styles related to the ComparisonPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.box {
  border: 1px solid lightgrey;
  margin-bottom: 3em;
}

.box:hover {
  border: 1px solid black;
}

.comparison_nav_menu {
  border: 1px solid black;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1;
  background-color: lightgrey;
}

.find-my-election-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.participant-name {
  font-weight: bold;
}

.select-your-riding {
  display: flex;
  justify-content: center;
  align-items: center;

  .label, .select {
    margin-right: 1em;
  }
}