/* --- COLORS --- */
$first-color: #008080;
$second-color: #800080;

/* background colors */
$wallpaper-color: white;
$navbar-background-color: $wallpaper-color;
$footer-background-color: $wallpaper-color;

/* is-primary buttons */
$primary: $second-color;

/* links */
$link: grey;
$link-hover: $second-color;
$link-focus: $second-color;

/* admin menu */
$menu-item-active-background-color: $second-color;


/* --- MISC --- */
$navbar-item-img-max-height: 3.5rem;

$box-shadow: none;

$button-focus-box-shadow-size: none;