/* --- COLORS --- */
$primary-color: #269197;
$secondary-color: #A35554;
$wallpaper-color: white;

$navbar-background-color: $wallpaper-color;
$footer-background-color: $wallpaper-color;

/* --- MISC --- */
$navbar-item-img-max-height: 3.5rem;
$box-shadow: none;