<% provide(:title, 'New Province') %>
<h1>New Province</h1>

<div class="columns">
  <div class="column is-narrow">
    <%= render 'shared/admin_menu' %>
  </div>
  <div class="column">
    <%= render 'form', province: @province, cancel_path: provinces_path %>
  </div>
</div>