<% provide(:title, 'Edit Log') %>
<h1>Edit Log</h1>

<div class="columns">
  <div class="column is-narrow">
    <%= render 'layouts/admin_menu' %>
  </div>
  <div class="column">
    <%= render 'form', address: @log, cancel_path: @log %>
  </div>
</div>