<% provide(:title, 'Logs') %>
<h1>Logs</h1>

<div class="columns">
  <div class="column is-narrow">
    <%= render 'admin/admin_menu' %>
  </div>
  <div class="column">
    <%= render 'admin/admin_list', new_object_text: "+ New Log", new_object_path: new_log_path, 
      objects_path: logs_path, placeholder_text: "Search by message...", objects_list: @logs %>
  </div>
</div>
