<% if defined?(breadcrumb_trail) && breadcrumb_trail.count > 1 %>
  <nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
      <% breadcrumb_trail do |crumb| %>
        <li>
          <%= link_to crumb.name, crumb.url, (crumb.current? ? {'aria-current' => 'page'} : {}) %>
        </li>
      <% end %>
    </ul>
  </nav>
<% end %>