<footer class="footer">
  <div class="container has-text-centered">
    <%= link_to "Disclaimer", about_path, class: "footer-item" %>
    <%= link_to "Privacy Policy", about_path, class: "footer-item" %>
    <%= link_to "Terms of Use", about_path, class: "footer-item" %>
    <div>
      Copyright © 2020, ElectionTime.org
    </div>
  </div>
</footer>