<footer class="footer">
  <div class="footer-container">
    <div class="footer-item">
      <%= image_tag("election_time_logo.png", alt: "ElectionTime.org", class: "footer-logo") %>
    </div>

    <div class="footer-item">
      <a href="https://twitter.com/ElectionTimeOrg" target="_blank">
        <span class="icon is-large">
          <i class="fab fa-twitter fa-2x"></i>
        </span>
      </a>
      <a href="https://www.facebook.com/ElectionTimeOrg" target="_blank">
        <span class="icon is-large">
          <i class="fab fa-facebook fa-2x"></i>
        </span>
      </a>
    </div>

    <div class="footer-item">
      <p class="footer-spacer">Proudly made in Canada</p>
      <figure class="image is-32x32">
        <%= image_tag("canada_flag_footer.png", alt: "Canada flag") %>
      </figure>
    </div>
  </div>

  <div class="footer-fine-print">
    <% if @content_footer %>
      <%= sanitize @content_footer.content %>
    <% end %>
  </div>
</footer>